@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\000031}}
body {
  background-color: #688EA1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\000035}}
#all {
  margin-left: 10%;
  margin-right: 4%;
  background-color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\0000311}}
#head, #foot {
  position: relative;
  background: #5E905D;
  color: white;
  padding: 1em 1em 0.5ex 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\0000317}}
  #head a, #foot a {
    color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\0000322}}
#body {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\0000330}}
#body {
  padding-left: 1em;
  padding-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\0000335}}
.sideL {
  width: 59%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\0000338}}
.sideR {
  width: 37%;
  position: relative;
  top: -3ex;
  left: 64%;
  text-align: right;
  background-color: #DD5756;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\0000347}}
  .sideR span.sideR {
    width: 100%;
    position: absolute;
    left: 0px;
    padding: 1ex; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/marek\/Programming\/webpwgen\/styles\.scss}line{font-family:\0000355}}
.pswd {
  font-family: monospace;
  font-size: 130%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 80ex; }
